# Entornos Virtuales
*env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
*.log

# Archivos de migración
*/migrations/__pycache__/
*/migrations/*.py

# Archivos temporales y del sistema
.DS_Store
Thumbs.db

# Archivos del IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de cobertura de pruebas
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/